.about-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #00b894;
    text-align: center;
}

.skills-container {
    display: inherit;
    flex-direction: inherit;
    margin: 10% auto;
}

.loading {
    text-align: center;
    margin: 25%;
    font-size: 2rem;
}
