.footer {
    display: flex;
    flex-direction: column;
    background-color: #2d3436;
    color: #dfe6e9;
    text-align: center;
    padding: 10px;
}

.links-container {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links {
    margin: 0 15px;
    padding: 5px;
    font-size: 1.5rem;
}

.copyright {
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}
