.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #00b894;
}

.loading-container {
    display: inherit;
    flex-direction: column;
    gap: inherit;
    margin: 25%;
}

.loading {
    text-align: center;
    font-size: 2rem;
}

.loading-spinner {
    margin: 25% auto 0;
    text-align: center;
}

/* mobile screens styling */

/* @media only screen and (max-width: 767px) {
    .loading-container, .loading-spinner, .loading {
        margin: 30% auto;
    }
} */
