.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #00b894;
}

.loading-container {
    display: inherit;
    flex-direction: column;
    gap: inherit;
    margin: 25%;
}

.loading {
    text-align: center;
    font-size: 2rem;
}

.loading-spinner {
    margin: 25% auto 0;
    text-align: center;
}

/* mobile screen styles */

@media only screen and (max-width: 767px) {
    .loading-container {
        margin: 65% auto;
    }
}

/* tablet screens styling */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .loading-container {
        margin: 50% auto;
    }
}
